body{
    background-color: rgb(99, 204, 73);
}
section{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    max-width: 650px;
    background-color: rgb(253, 253, 253);
    box-shadow: 4px 4px 12px 12px rgb(46, 40, 40);
    padding: 50px;
    border-radius: 50px;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    color:rgb(0, 0, 0);
    text-align: center;
    font-size: 45px;
}
div{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p1{
    font-family: monospace;
    color:rgb(255, 255, 255);
    position:absolute;
    right:10px;
    bottom: 10px;
    font-size: large;
}